POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_URL=
ESP32_URL=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
API_KEY=
SEED_ON_STARTUP=
SECRET_KEY=
USE_AUTH_COOKIES=true
COOKIE_SECURE=false
ANTHROPIC_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_TLS=true