psycopg2-binary
psycopg2
python-dotenv
scikit-learn
requests
fastapi
uvicorn[standard]
websockets
websocket-client
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
alembic
sqlalchemy
python-socketio[client]>=5.7.0
websocket-client>=1.2.3
slowapi
redis
apscheduler
email-validator
pytest
httpx
ruff
pre-commit
APScheduler
anthropic